# This notebook validates the yearly trade data scraped from Comtrade

In [43]:
import pandas as pd
import numpy
import requests
import json
import codecs
import pickle
from collections import defaultdict
from datetime import datetime
from dateutil.relativedelta import relativedelta
import time

In [44]:
yearly_trade_data = pd.read_csv('Input_datasets/trade_data_new_annual_import.csv')
yearly_trade_data = yearly_trade_data.drop(columns='Unnamed: 0')

In [45]:
yearly_trade_data_full = pd.read_csv('Input_datasets/trade_data_new_annual_import.csv')

In [48]:
print(yearly_trade_data.shape)
print(yearly_trade_data_full.shape)

(1402122, 4)
(1402122, 5)

In [39]:
reporter_countries = set(yearly_trade_data['From'].unique())
partner_countries = set(yearly_trade_data['To'].unique())

print(reporter_countries - partner_countries)
print(partner_countries - reporter_countries)

years = set(yearly_trade_data['Period'].unique())

all_pairs = []
for i in reporter_countries:
    for j in partner_countries:
        for k in years:
            if i!=j:
                all_pairs.append((i,j,k))
all_pairs = set(all_pairs)

real_pairs = set(list(yearly_trade_data[['From', 'To', 'Period']].itertuples(index=False, name=None)))

set()
set()

In [40]:
len(all_pairs - real_pairs)

55358

In [41]:
len(real_pairs - all_pairs)

279

In [36]:
len(all_pairs)

182750

In [18]:
yearly_trade_data

         From  To  Period         Value
0          36  32    1995  5.487989e+07
1          40  32    1995  2.056812e+07
2          68  32    1995  1.173860e+08
3          76  32    1995  5.749807e+09
4          32  36    1995  1.217753e+08
...       ...  ..     ...           ...
1402117   894  32    2019  4.715000e+03
1402118   894  68    2019  2.800000e+01
1402119   894  40    2019  5.352645e+06
1402120   894  76    2019  2.598063e+06
1402121   894  32    2019  1.430058e+06

[1402122 rows x 4 columns]

In [15]:
reporter_countries

array([ 36,  40,  68,  76,  32,  84, 108, 124, 152, 140, 156, 170, 174,
       188, 191, 196, 203, 208, 218, 222, 233, 246, 251, 270, 276, 300,
       308, 320, 344, 348, 352, 360, 372, 376, 380, 384, 392, 410, 428,
       398, 440, 446, 450, 454, 458, 462, 470, 480, 484, 498, 504, 512,
       528, 554, 558, 562, 579, 591, 600, 604, 616, 620, 642, 662, 670,
       690, 699, 702, 703, 705, 724, 752, 757, 764, 780, 788, 792, 800,
       807, 818, 826, 834, 842, 854, 858, 894])

In [11]:
import requests

def get_restaurant_count(city):
    overpass_url = "https://overpass-api.de/api/interpreter"
    overpass_query = f"""
    [out:json];
    area["name"="{city}"]->.searchArea;
    (
      node["amenity"="restaurant"](area.searchArea);
    );
    out count;
    """
    response = requests.get(overpass_url, params={'data': overpass_query})
    data = response.json()
    return data['elements'][0]

print("Number of restaurants in New York:", get_restaurant_count("Budapest"))

Number of restaurants in New York: {'type': 'count', 'id': 0, 'tags': {'nodes': '1483', 'ways': '0', 'relations': '0', 'areas': '0', 'total': '1483'}}